* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.header {
  position: fixed;
  top: 0;
  padding: 20px;
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: crimson;
}

.header>nav {
  display: flex;
}

.nav__link {
  margin: 0 10px;
}

.nav__link a {
  color: white;
}

.header__button-menu {
  padding: 5px;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  background-color: transparent;
  cursor: pointer;
  outline: 0;
}

.main {
  margin-top: 65px;
  display: flex;
}

.sidebar {
  margin-left: 0;
  left: 0;
  width: 300px;
  height: 100%;
  border-right: 1px solid;
  opacity: 1;
  background-color: white;
  transition: ease-in 0.3s;
}

.sidebar_hidden {
  opacity: 0;
  left: 0;
  margin-left: -300px;
  transition: ease-in 0.3s;
}

@media screen and (max-width: 1200px) {
  .sidebar {
    position: fixed;
  }

  .sidebar_hidden {
    left: -300px;
    margin-left: 0;
  }
}

.cubes {
  display: flex;
}

.cube_hide {
  display: none;
}

.cube {
  margin-right: 1em;
  width: 60px;
  height: 60px;
  background-color: teal;
}

.cube_red {
  background-color: red;
}

.cube_green {
  background-color: green;
}

.cube_blue {
  background-color: blue;
}